@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
/*     
        font-family: "Lato", serif;
        font-weight: 1000;
        font-style: normal; */
      
}

html{
    font-size: 62.5%;
}

.header{
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.3)),url('../images/bg-main.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    
}


.navbar{
    display: flex;
    align-items: center;
    padding: 0 200px;
    background-color: #020130;
    color: white;
    font-size: larger;
    box-shadow: 20%;
}

.nav-icon{
    text-decoration: none;
    color: white; 
    font-size: 2rem;
    
}
a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}



.nav-items{
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: white;
    margin-left: auto;
}
.search-icon{
    justify-self: end;
    margin-left: auto;


}
.container{
    color: white;
    display: flex;
    justify-content: center;
    /* padding: 150px; */
    align-items: center;
    height: 60vh;
    /* font-size: 300%; */
    flex-direction: column;
    font-weight: bolder;
    font-size: 4rem;
}

.container h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 8rem;
}

.container h4 {
    margin-bottom: 0;
    margin-top: 0;
    font-style: italic;
    
}
.container button{
    padding: 10px 15px;
    border-radius: 12px;
    border:none;
    background: #020130;
    color: white;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

.card-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
}
.card-text h1{
    /* margin-top: 0; */
    margin-bottom: 0;
}
.card-text p{
    margin-top: 1;
    /* margin-bottom: 0; */
}

.card1{
    background-image: url("../images/cape-coast-castle-830x540.jpg");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 300px;
   width: 300px;
    
}
.card2{
    background-image: url("../images/Kwame-Nkrumah-Memorial-Park_and_Mausoleum_Ghana_exterior_freedom_Wall.webp");
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;

}
.card3{
    background-image: url("../images/cape-coast-castle-830x540.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
}
.card1-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 35%;
    color:black;
    text-transform: uppercase;
}


.forms{
    background: rgb(36,0,25);
background: linear-gradient(90deg, rgba(36,0,25,0.8673844537815126) 0%, rgba(11,67,89,1) 0%, rgba(0,212,255,1) 99%);
display: flex;
justify-content: center;
height: 20vh;
align-items: center;
gap: 2rem;
}

.input-filed{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
input, select{
    padding: 10px;
}
label{
    text-transform: uppercase;
    color: white;
}


